.catalog {
    text-align: center;

    &__products-title {
        display: inline-block;
        margin-top: 50px;
        margin-bottom: 70px;
        margin-right: auto;
        padding-bottom: 10px;
        font-family: 'Gilroy Extra Bold', serif;
        border-bottom: 5px solid #e83c32;
        font-size: 40px;
        scroll-margin: 100px;
        -webkit-overflow-scrolling: touch;
    }

    &__list {
        display: flex;
        flex-wrap: wrap;
        
    }

    &__item{
        width: 260px;
        margin-right: 33.3px;
        background-color: #393939;
        border-radius: 10px;
        overflow: hidden;
        padding-bottom: 15px;
        margin-bottom: 50px;
    &:nth-child(4n + 4) {
        margin-right: 0;
    }
     &-img {
         width: 100%;
         margin-bottom: 10px;
         background-color: rgb(201, 201, 201);
     }
     &-text {
         color: #fff;
         padding-right: 15px;
         padding-left: 15px;
     }
     &-name {
       font-family: 'Gilroy Extra Bold', serif;
         margin-bottom: 7px;
         font-size: 24px;
     }
     &-description{
         margin-bottom: 7px;
     }
     &-price {
         margin-bottom: 15px;
       font-family: 'Gilroy Extra Bold', serif;
     }
     
     &-btns-size{
         background-color: #fff;
        width: 170px;
        margin: auto;
        border-radius: 10px;
        padding: 5px;
        margin-bottom: 15px;

        button{
            margin-right: 15px;
            margin-left: 15px;
            background: none;
            border: none;

            &:focus {
                overflow: hidden;
            }
        }

     }
     &-btn--active {
         color: #e83c32;
     }

     &-submit {
         background-color: #e83c32;
         padding: 10px 60px;
         border: none;
         border-radius: 10px;
         color: #fff;
         font-family: 'Gilroy Extra Bold', serif;
     }
    }
}

@media (max-width:1300px) {
    .catalog {

        &__item-name {
            font-size: 22px;
        }

        &__item-description {
            font-size: 18px;
        }

        &__list {
            justify-content: space-between;
        }
        &__item {
            margin-right: 0;
            width: 330px;
        }
    }
}

@media (max-width:$tablet){
    .catalog {

        &__item {
            width: 100%;
        }
    }
}